@use "common" as *;

body[layout="horizontal"] {
  $sideBarWidth: 0;

  @include merge-style($sideBarWidth, 0);

  .el-menu {
    --el-menu-hover-text-color: var(--pure-theme-menu-text) !important;
  }

  .fixed-header,
  .main-container {
    transition: none !important;
  }

  .fixed-header {
    width: 100%;
  }
}
